name: Build and Deploy to Azure App Service

on:
  push:
    branches: [main]
  pull_request:
    branches: [ 'main' ]
  workflow_dispatch:

env:
  DOCKER_IMAGE: zava-storefront

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to ACR
        run: az acr login --name ${{ vars.ACR_NAME }}

      - name: Build and push container image
        run: |
          docker build -t ${{ vars.ACR_NAME }}.azurecr.io/${{ env.DOCKER_IMAGE }}:${{ github.sha }} \
                       -t ${{ vars.ACR_NAME }}.azurecr.io/${{ env.DOCKER_IMAGE }}:latest .
          docker push ${{ vars.ACR_NAME }}.azurecr.io/${{ env.DOCKER_IMAGE }} --all-tags

      - name: Deploy to App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.WEBAPP_NAME }}
          images: ${{ vars.ACR_NAME }}.azurecr.io/${{ env.DOCKER_IMAGE }}:${{ github.sha }}
